@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-primary-hover: #0fd451;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a2e22;
  --color-text-main: #111813;
  --color-text-secondary: #61896f;
  
  --font-display: "Manrope", sans-serif;
}

/* Base styles per Manrope */
@layer base {
  html {
    font-family: "Manrope", sans-serif;
  }
}
